#headline {
    font-size: 3em;
    font-weight: 750;
    text-align: center;
    font-family: Georgia, Tahoma;
}


#byline {
    font-size: 1em;
    text-align: center;
    font-family: Georgia, Tahoma;
}

h2 {
    font-weight: bold;
}

p {
    font-size: 1em;
    font-family: Georgia;
    line-height: 180%;
}

#footer {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    background-color: black;
    color: white;
    padding: 2px;
    padding-top: 20px;
}

blockquote {
    font-size: 1.5em;
    font-family: Georgia, Tahoma;
    font-style: normal;
    font-weight: bold;
}

img {
    height: 50%;
    width: 100%;
}