#headline {
    font-size: 3em;
    font-weight: 750;
    text-align: center;
    font-family: Georgia, Tahoma;
}


#byline {
    font-size: 1em;
    text-align: center;
    font-family: Georgia, Tahoma;
}

p {
    font-size: 1em;
    font-family: Georgia;
    line-height: 180%;
}

#footer {
    text-align: center;
}

blockquote {
    font-size: 1.5em;
    font-family: Georgia, Tahoma;
    font-style: normal;
    font-weight: bold;
}

img {
    width: 100%;
}